.header{
    background-color: #ffe3a7;
}
.answer{
    border:2px black solid;
    padding-bottom: 20px;
    margin-left   : 10%;
    width: 80%;
    font-size: 20px;
}

.answer_btn{
    display       : inline-block;
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 24px 55px;   /* 余白       */
    background    : #000000;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    margin-left   : 20%;
}

.example{
    border:2px black solid;
}