input[type="submit"]{
    -webkit-appearance: none;
    border-radius: 0;
}

header{
    background-color: #ffe3a7;
}


header h2, header img{
    display: inline-block;
    margin: 0 0 0 auto;
}

header h2{
    margin-top: -10px;
}

header img{
    margin-top: 10px;
    text-align: right;
}

.main{
    display: block;
}

.answer{
    border:2px black solid;
    padding-bottom: 20px;
    margin-left: 10%;
    width: 250px;
    font-size: 40px;
    display: block;
    margin-bottom: 20px;
}

.answer_btn{
    display       : block;
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 24px 55px;   /* 余白       */
    background    : #000000;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    margin-left   : 20%;
}

.example{
    display: block;
    border:2px black solid;
}

.output{
    font-size: 40px;
}